
<html>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

<head>
    <title>SignUp</title>


</head>

<body >


<div class="row justify-content-sm-center m-3">
</div>
<h2 class="text-center">SignUp</h2>
<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6 col-md-4">

            <div class="card border-info text-center">

                <div class="card-body">

                    <form class="form-signin" method="POST" action="register">
                        {% csrf_token %}
                        <h5>Username</h5>
                        <input  type="text" name="username"   class="form-control mb-2" placeholder="Username" required autofocus>
                        <h5>Password</h5>
                        <input type="password" name="password1"  class="form-control mb-2" placeholder="Password" required>
                        <h5>Password</h5>
                        <input type="password" name="password2"  class="form-control mb-2" placeholder="ConfirmPassword" required>
                        <h5>Firstname</h5>
                        <input type="text" name="first_name"  class="form-control mb-2" placeholder="Firstname" required>
                         <h5>Lastname</h5>
                        <input type="text" name="last_name"  class="form-control mb-2" placeholder="Lastname" required>
                        <h5>Email</h5>
                        <input type="email" name="email"  class="form-control mb-2" placeholder="Email" required>





                        <button class="btn btn-lg btn-primary mt-4" type="submit" >Signup</button>
                        <button class="btn btn-lg btn-secondary mt-4" type="button" onclick="location.href = 'cancel';">Cancel</button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    {% for msg in messages %}
    <h3> {{ msg}}</h3>
    {% endfor %}
</div>
</body>

</html>